<!DOCTYPE html>
<html>
    <head>
        <title>Orders's List</title>
    </head>
    <body>
        <h1>Orders's List</h1>
        <a href="/">Index</a>
        <a href="/login">Login</a>
        <br><br>
        <form action="/orders_list" method="post">
        <table border="1	"><thead><tr>
            <td><label for="id"> №: </label></td>
            <td><label for="order_no">Номер ордера : </label></td>
            <td><label for="order_date">Дата создания : </label></td>
            <td><label for="order_type">Тип ордера : </label></td>
            <td><label for="order_status">Статус : </label></td>
            <td><label for="order_contragent">Контрагент : </label></td>
        </tr>
            </thead>
            <tbody>
             <% orders.forEach(function(order) { %>
            <tr>
            <td><%= order.id %></td>
            <td><%= order.document_no %></td>
            <td><%= order.document_date %></td>
            <td><%= order.order_types_id %></td>
            <td><%= order.order_status_id %></td>
            <td><%= order.contragent_id %></td>
            <td>
             <a href="/order_details?order.id=<%= order.id %>" ><img height=16 width=16 src="/images/edit-icon-6.png"/></a>
             <a href="/orders_list/delete?order.id=<%= order.id %>" ><img height=16 width=16 src="/images/garbage_bin.jpg"/></a>
            </td>
            </tr>
             <% }); %>
            </tbody>
        </table>    
        <a href="/create_order" ><img height=16 width=16 src="/images/add_doc.png"/>Добавить ордер</a>
    </form>
    </body>
</html>
