<!DOCTYPE html>
<html>
    <head>
        <title>Order's details</title>
    </head>
    <body>
        <h1>Order's details </h1>
        <a href="/">Index</a>
        <a href="/login">Login</a>
        <a href="/users_list">User's List</a>
        <br><br>
        <form action="/order_details" method="post">
            <label for="orderid">Order.id : </label><br>
            <input type="text" name="orderid" readonly=true value="<%= order.id %>"><br>
            <label for="document_no">Номер ордера : </label><br>
            <input type="text" name="document_no" value="<%= order.document_no %>" /><br>
            <label for="document_date">Дата документа : </label><br>
            <input type="text" name="document_date" value="<%= order.document_date %>"><br>
            <label for="order_types_id">Тип документа : </label><br>
            <input type="text" name="order_types_id" value="<%= order.order_types_id %>"><br>
            <label for="order_status_id">Статус документа : </label><br>
            <input type="text" name="order_status_id" value="<%= order.order_status_id %>"><br>
            <label for="contragent_id">Контрагент : </label><br>
            <input type="text" name="contragent_id" value="<%= order.contragent_id %>"><br>
            <input type="submit" value="Сохранить">
            <input type=text name="errors"  style=" color: red; font-weight: bold; "" value="<%= (!!errors)?errors:'' %>" >
        </form>
    </body>
</html>
